*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

app/build/intermediates/res/merged/debug/

app/build/intermediates/merged_res_blame_folder/debug/out/single/

*.bin

*.lock

*.ser

*.jar

*.json

app/build/intermediates/dex_archive_input_jar_hashes/debug/

*.txt

*.dex

app/build/intermediates/dex_number_of_buckets_file/debug/

app/build/intermediates/incremental/debug-mergeJavaRes/

app/build/intermediates/incremental/debug-mergeNativeLibs/merge-state

app/build/intermediates/incremental/mergeDebugAssets/merger.xml

app/build/intermediates/incremental/mergeDebugJniLibFolders/merger.xml

app/build/intermediates/incremental/mergeDebugResources/compile-file-map.properties

app/build/intermediates/incremental/mergeDebugResources/merger.xml

app/build/intermediates/incremental/mergeDebugShaders/merger.xml

app/build/intermediates/incremental/packageDebug/tmp/debug/zip-cache/androidResources

app/build/intermediates/processed_res/debug/out/resources-debug.ap_

app/build/outputs/apk/debug/app-debug.apk
app/.idea/.gitignore
app/.idea/vcs.xml

Firebase/chat-sdk-firebase

app/build/intermediates/incremental/packageDebug/tmp/debug/zip-cache/javaResources0
